<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 *
 */
-->
<config>
    <modules>
        <Goat_GetMember>
            <version>1.1.1</version>
        </Goat_GetMember>
    </modules>
    <global>
        <models>
            <getmember>
                <class>Goat_GetMember_Model</class>
                <resourceModel>getmember_resource</resourceModel>
            </getmember>
            <getmember_resource>
                <class>Goat_GetMember_Model_Resource</class>
                <entities>
                    <member>
                        <table>getmember_member</table>
                    </member>
                    <point>
                        <table>getmember_point</table>
                    </point>
                </entities>
            </getmember_resource>
        </models>
        <resources>
            <getmember_setup>
                <setup>
                    <module>Goat_GetMember</module>
                </setup>
            </getmember_setup>
        </resources>
        <helpers>
            <getmember>
                <class>Goat_GetMember_Helper</class>
            </getmember>
        </helpers>
        <blocks>
            <getmember>
                <class>Goat_GetMember_Block</class>
            </getmember>
        </blocks>

        <events>
            <controller_action_predispatch>
                <observers>
                    <set_membercode_session>
                        <class>getmember/observer</class>
                        <method>setMemberCodeInSession</method>
                    </set_membercode_session>
                </observers>
            </controller_action_predispatch>
            
            <controller_action_predispatch_checkout>
                <observers>
                    <apply_coupon_member>
                        <class>getmember/observer</class>
                        <method>applyCouponMember</method>
                    </apply_coupon_member>
                </observers>
            </controller_action_predispatch_checkout>

            <checkout_type_onepage_save_order>
                <observers>
                    <record_points_member>
                        <class>getmember/observer</class>
                        <method>recordPointsToMember</method>
                    </record_points_member>
                    <record_points_used_member>
                        <class>getmember/observer</class>
                        <method>recordUsedPointsToMember</method>
                    </record_points_used_member>
                </observers>
            </checkout_type_onepage_save_order>

            <sales_order_invoice_pay>
                <observers>
                    <earn_points_paid>
                        <class>getmember/observer</class>
                        <method>earnPointPaid</method>
                    </earn_points_paid>
                </observers>
            </sales_order_invoice_pay>
        </events>
        <sales>
            <quote>
                <totals>
                    <point>
                        <class>getmember/sales_quote_address_total_point</class>
                        <after>discount</after> <!-- never change :D -->
                        <before>shipping</before>
                    </point>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <point>
                        <class>getmember/sales_order_invoice_total_point</class>
                        <after>discount</after> <!-- never change :D -->
                        <before>shipping</before>
                    </point>
                </totals>
            </order_invoice>
             <order_creditmemo>
                <totals>
                    <point>
                        <class>getmember/sales_order_creditmemo_total_point</class>
                        <after>discount</after> <!-- never change :D -->
                        <before>shipping</before>
                    </point>
                </totals>
            </order_creditmemo>
       </sales>
       <fieldsets>
            <sales_convert_quote_address>
                <point_amount><to_order>*</to_order></point_amount>
                <base_point_amount><to_order>*</to_order></base_point_amount>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <getmember module="Goat_GetMember">
                    <file>getmember.xml</file>
                </getmember>
            </updates>
        </layout>
        <routers>
            <getmember>
                <use>standard</use>
                <args>
                    <module>Goat_GetMember</module>
                    <frontName>getmember</frontName>
                </args>
            </getmember>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <getmember module="Goat_GetMember">
                    <file>getmember.xml</file>
                </getmember>               
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <point>25</point>
            </totals_sort>
        </sales>
    </default>
</config>
