<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 *
 */
-->
<config>
    <modules>
        <MageGoat_GetMember>
            <version>1.1.1</version>
        </MageGoat_GetMember>
    </modules>
    <global>
        <models>
            <getmember>
                <class>MageGoat_GetMember_Model</class>
                <resourceModel>getmember_resource</resourceModel>
            </getmember>
            <getmember_resource>
                <class>MageGoat_GetMember_Model_Resource</class>
                <entities>
                    <member>
                        <table>getmember_member</table>
                    </member>
                    <point>
                        <table>getmember_point</table>
                    </point>
                </entities>
            </getmember_resource>
        </models>
        <resources>
            <getmember_setup>
                <setup>
                    <module>MageGoat_GetMember</module>
                </setup>
            </getmember_setup>
        </resources>
        <helpers>
            <getmember>
                <class>MageGoat_GetMember_Helper</class>
            </getmember>
        </helpers>
        <blocks>
            <getmember>
                <class>MageGoat_GetMember_Block</class>
            </getmember>
        </blocks>

        <events>
            <controller_action_predispatch>
                <observers>
                    <set_membercode_session>
                        <class>getmember/observer</class>
                        <method>setMemberCodeInSession</method>
                    </set_membercode_session>
                </observers>
            </controller_action_predispatch>
            <checkout_type_onepage_save_order>
                <observers>
                    <record_member_order>
                        <class>getmember/observer</class>
                        <method>recordMemberOrder</method>
                    </record_member_order>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_order_invoice_pay>
                <observers>
                    <set_member_point_paid>
                        <class>getmember/observer</class>
                        <method>setMemberPointPaid</method>
                    </set_member_point_paid>
                </observers>
            </sales_order_invoice_pay>
        </events>

        <sales>
            <quote>
                <totals>
                    <point>
                        <class>getmember/sales_quote_address_total_point</class>
                         <after>grand_total</after>
                    </point>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <point>
                        <class>getmember/sales_order_invoice_total_point</class>
                        <after>grand_total</after>
                    </point>
                </totals>
            </order_invoice>
       </sales>
       <fieldsets>
            <sales_convert_quote_address>
                <point_amount><to_order>*</to_order></point_amount>
                <base_point_amount><to_order>*</to_order></base_point_amount>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <getmember module="MageGoat_GetMember">
                    <file>getmember.xml</file>
                </getmember>
            </updates>
        </layout>
        <routers>
            <getmember>
                <use>standard</use>
                <args>
                    <module>MageGoat_GetMember</module>
                    <frontName>getmember</frontName>
                </args>
            </getmember>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <getmember module="MageGoat_GetMember">
                    <file>getmember.xml</file>
                </getmember>               
            </updates>
        </layout>
    </adminhtml>
</config>
